footer {
  background-color: #6387c1;
  padding: 0.25rem;
  text-align: center;
  margin-top: 1rem;
  border-radius: 10px;
  border: 5px solid #250c35;
  color: #f1eee4;
  font-family: Cherry Bomb One;
}
